h1 {
  color: maroon;
}
img {
  width: 400px;
}
#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: maroon;
  padding: 50px;
  border: 7px solid darkorange;
  display: block;
  margin: auto;
}
#spanId {
  font-size: 18px;
  margin: 50px;
}
.divClass {
  text-align: center;
}
html {
  background: url("https://www.xtrafondos.com/descargar.php?id=2927&resolucion=1920x1200") 100px;
}
